// https://coolors.co/0d1321-454b66-564d65-3e8989-2cda9d
$background_color: #0D1321;
$light_bg_color: #454B66;
$bright_bg_color: #564D65;
$light_icon_color: #3E8989;
$bright_color: #24B784;
$text_color: black;
